<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- PERMISOS -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mascotas"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDv9hxapxELI-ldc8EuN8RVqw5EwJrTcF0"/>

        <!-- ACTIVIDAD PRINCIPAL -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- RECEIVER PARA REGISTRO -->
        <receiver
            android:name=".RegistroReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="co.edu.unipiloto.REGISTRO_USUARIO"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <!-- ACTIVIDADES DE LA APP -->
        <activity
            android:name=".Registro"
            android:exported="true"
            android:label="@string/registro_label"
            android:theme="@style/Theme.AppCompat.Light"/>

        <activity android:name=".Inicio" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Administrar" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".EditarPerfilActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".RegistrarMascotaActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".MapsActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".SafeZoneManager" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".SafeZoneMapActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".VeterinariosActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".RegistroEjercicioActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ResumenActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ReporteActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".GraficoActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".VaccinesActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ActivityCita" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".AddAdoptionPetActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".AdoptionPetsListActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ActivityComida" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ListaPaseadoresActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".RegistrarCuidadorActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ListarCuidadoresActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".PaseoMapActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".PaseoActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".RutaMapaActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>
</manifest>
